@model EditTarefaViewModel

<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<form action="CreateTarefa" method="post">
  <div class="mb-3">
    <label asp-for="Titulo" class="form-label">Título</label>
    <input asp-for="Titulo" type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="Data" class="form-label">Data</label>
    <input asp-for="Data" type="date" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Editar Tarefa</button>
</form>